<!DOCTYPE html>
<html lang="es">
  <head>
       
    <meta charset="utf-8" />
       
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

       
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.min.js"></script>

       
    <title>prueba de PDF</title>
  </head>

  <body>
       
    <button onclick="createPDF()" class="btn btn-primary">Generar PDF</button>

       
    <!-- Activando Bootstrap desde JS -->
       
    <script type="module" src="../../controller/privado/pdf.js"></script>
  </body>
</html>
