<!doctype html>
<html lang="en">

<head>
    <!-- Etiquetas meta requeridas-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Referencias a documentos Bootstrap.css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <link rel="stylesheet" href="../css/style_publica.css">
    <title>AntojitoSV</title>

</head>

<body>
    <!-- Encabezado de antojitoSV -->
    <header>
        <!-- Primer navbar -->
        <nav class="navbar fixed-top navbar-primary navbar-expand-md" id="primerNavbar">
            <!-- Dividir el navbar en 2 diferentes columnas -->
            <div class="container-fluid">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-8 bg-primary">
                            <a class="navbar-brand" href="#">
                                <!-- Imagenes de las redes sociales -->
                                <img class="redesSociales" src="../img/navbar/Instagram_35px.png">
                                <img class="redesSociales" src="../img/navbar/Facebook_35px.png">
                                <img class="redesSociales" src="../img/navbar/whatsapp_35px.png">
                                <img class="redesSociales" src="../img/navbar/gmail_35px.png">
                            </a>
                        </div>
                        <div class="col-4 bg-secondary">
                            <a class="navbar-brand" href="#">
                                <!-- Boton de registrarse-->
                                <a class="btn btn-danger" href="#" id="registrate"><img
                                        src="../img/navbar/user_25px.png"> Registrate</a>
                                <!-- Imagenes para ordenes/recibo -->
                                <img class="redesSociales" src="../img/navbar/shopping_cart_with_money_35px.png">
                                <img class="redesSociales" src="../img/navbar/bill_35px.png">
                                <!-- Dropdown de idiomas -->
                                <div class="btn-group">
                                    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                        <img src="../img/navbar/el_salvador_35px.png">
                                    </button>
                                    <ul class="dropdown-menu">
                                        <a class="dropdown-item" href="#">Español</a>
                                        <a class="dropdown-item" href="#">Ingles</a>
                                    </ul>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <!-- segundo navbar -->
        <nav class="navbar navbar-warning bg-light navbar-expand-md" id="segundoNavbar">
            <div class="container-fluid">
                <!-- Imagenes de los botones del menu de la pagina publica con mapeo -->
                <div class="row justify-content-around">
                    <!-- Imagenes de los botones y sus respectivos textos links-->
                    <div class="row col-1 navBarItem">
                        <img src="../../resources/img/navbar_privado/cake_75px.png" usemap="#producto">
                        <a href="gestion_producto.html">Producto</a>
                    </div>
                    <div class="row col-1 navBarItem">
                        <img src="../../resources/img/navbar_privado/packaging_75px.png" usemap="#proveedores">
                        <a href="gestion_proveedores.html">Proveedor</a>
                    </div>
                    <div class="row col-1 navBarItem">
                        <img src="../../resources/img/navbar_privado/search_client_75px.png" usemap="#clientes">
                        <a href="gestion_cliente.html">Clientes</a>
                    </div>
                    <div class="row col-1 navBarItem">
                        <img src="../../resources/img/navbar_privado/search_75px.png" usemap="#categorias">
                        <a href="gestion_categoria.html">Categorias</a>
                    </div>
                    <div class="row col-1 navBarItem">
                        <img src="../../resources/img/navbar_privado/bill_75px.png" usemap="#pedidos">
                        <a href="gestion_pedido.html">Pedidos</a>
                    </div>
                    <div class="row col-1 navBarItem">
                        <img src="../../resources/img/navbar_privado/customer_support_75px.png" usemap="#empleados">
                        <a href="gestion_empleados.html">Empleados</a>
                    </div>
                    <div class="row col-1 navBarItem">
                        <img src="../../resources/img/navbar_privado/local_delivery_75px.png" usemap="#vehiculo">
                        <a href="gestion_vehiculo.html">Vehiculo</a>
                    </div>
                    <div class="row col-1 navBarItem">
                        <img src="../../resources/img/navbar_privado/user_75px.png" usemap="#usuarios">
                        <a href="gestion_usuario.html">Usuarios</a>
                    </div>
                    <div class="row col-1 navBarItem">
                        <img src="../../resources/img/navbar_publico/home_75px.png" usemap="#Inicio">
                        <a href="paginaprivada.html">Inicio</a>
                    </div>
                    <!-- Mapeo-->
                    <map name="producto">
                        <area shape="rect" coords="10,0,85,75" href="gestion_producto.html">
                    </map>
                    <map name="proveedores">
                        <area shape="rect" coords="10,0,85,75" href="gestion_proveedores.html">
                    </map>
                    <map name="clientes">
                        <area shape="rect" coords="10,0,85,75" href="gestion_cliente.html">
                    </map>
                    <map name="categorias">
                        <area shape="rect" coords="10,0,85,75" href="gestion_categoria.html">
                    </map>
                    <map name="pedidos">
                        <area shape="rect" coords="10,0,85,75" href="gestion_pedido.html">
                    </map>
                    <map name="empleados">
                        <area shape="rect" coords="10,0,85,75" href="gestion_empleados.html">
                    </map>
                    <map name="vehiculo">
                        <area shape="rect" coords="10,0,85,75" href="gestion_vehiculo.html">
                    </map>
                    <map name="usuarios">
                        <area shape="rect" coords="10,0,85,75" href="gestion_usuario.html">
                    </map>
                    <map name="Inicio">
                        <area shape="rect" coords="10,0,85,75" href="paginaprivada.html">
                    </map>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div class="container-fluid" id="promo">
            <div class="card mb-3" id="prodCard">
                <h1 id="reseñasT">Términos y condiciones</h1>
                <hr>
                <p class="card-text" id="prodInfo">Nos esforzamos por garantizar que la información incluida en este
                    Sitio Web sea exacta y confiable.
                    Sin embargo, nuestro Sitio Web y la Internet no son infalibles, y es posible que se produzcan
                    errores.
                    Por lo tanto, en la medida legalmente permisible, se reserva la renuncia a toda garantía de
                    cualquier
                    tipo, ya sea expresa o implícita, y a cualquier tema que de algún modo se relacione con este Sitio
                    Web,
                    incluidas, pero sin limitarse a, la comerciabilidad o aptitud para cualquier fin particular. No
                    somos
                    responsables de ningún daño causado por el uso de este Sitio Web )tal como virus, omisiones o
                    declaraciones
                    erróneas(. Podemos modificar la información, los servicios y los recursos contenidos en este Sitio
                    Web
                    periódicamente y se reserva el derecho de realizar tales cambios sin obligación de notificar a los
                    visitantes pasados, actuales o potenciales. En ningún caso, seremos responsable de ningún daño
                    indirecto,
                    especial, fortuito o resultante que surgiera de cualquier uso de la información contenida en el
                    presente.</p>
                <hr>
                <h1 id="reseñasT">Enlaces del Sitio Web</h1>
                <hr>
                <p class="card-text" id="prodInfo">Nos esforzamos por garantizar que la información incluida en este
                    Sitio Web sea exacta y confiable.
                    Sin embargo, nuestro Sitio Web y la Internet no son infalibles, y es posible que se produzcan
                    errores.
                    Por lo tanto, en la medida legalmente permisible, se reserva la renuncia a toda garantía de
                    cualquier
                    tipo, ya sea expresa o implícita, y a cualquier tema que de algún modo se relacione con este Sitio
                    Web,
                    incluidas, pero sin limitarse a, la comerciabilidad o aptitud para cualquier fin particular. No
                    somos
                    responsables de ningún daño causado por el uso de este Sitio Web )tal como virus, omisiones o
                    declaraciones
                    erróneas(. Podemos modificar la información, los servicios y los recursos contenidos en este Sitio
                    Web
                    periódicamente y se reserva el derecho de realizar tales cambios sin obligación de notificar a los
                    visitantes pasados, actuales o potenciales. En ningún caso, seremos responsable de ningún daño
                    indirecto,
                    especial, fortuito o resultante que surgiera de cualquier uso de la información contenida en el
                    presente.</p>
            </div>
        </div>
    </main>
    <footer class="primary bg-primary text-white pt-5 pb-4">
        <div class="container text-center text-md-left">
            <div class="row text-center text-md-left">
                <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                    <a href="#">
                        <h5 class="text-uppercase mb-4 font-weight-bold info"> Preguntas Frecuentes</h5>
                    </a>

                </div>
                <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                    <a href="#">
                        <h5 class="text-uppercase mb-4 font-weight-bold info"> Atención al Cliente</h5>
                    </a>

                </div>
                <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                    <a href="#">
                        <h5 class="text-uppercase mb-4 font-weight-bold info"> Sobre Nosotros</h5>
                    </a>

                </div>
                <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                    <a href="#">
                        <h5 class="text-uppercase mb-4 font-weight-bold info"> Términos y servicios</h5>
                    </a>

                </div>
            </div>
            <hr class="mb-4">
            <div class="row text-center text-md-left">
                <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                    <i class="fas fa-phone mr-2">+503 66554433/77665544</i>
                </div>

                <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                    <p>AntojitoSV derechos reservados - 2022</p>
                </div>

                <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                    <ul class="list unstyled list-inline">
                        <!-- Imagenes de las redes sociales -->
                        <img class="redesSociales" src="img/navbarimg/Instagram_35px.png">
                        <img class="redesSociales" src="img/navbarimg/Facebook_35px.png">
                        <img class="redesSociales" src="img/navbarimg/whatsapp_35px.png">
                        <img class="redesSociales" src="img/navbarimg/gmail_35px.png">
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!--Referencias a documentos Bootstrap.js para inicializar la plantillas-->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>

</body>

</html>