.bodyLogInContainer {
  background-image: url("../img/navbarPrivimg/fondo.png");
  width: 100%;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoContainer {
  width: 60%;
  height: 90%;
  background-color: #f8e4d4;
  border-radius: 25px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logInContainer {
  width: 30%;
  height: 70%;
  background-color: white;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logIndButton {
  border-radius: 25px;
}

.userIconContainer {
  display: flex;
  justify-content: left;
  align-items: center;
}

.secondHeaderContainer {
  width: 100%;
  background-color: #fffcfc;
}

.figcaptionHeader {
  text-align: center;
}

.figcaptionAntojitoSV{
  color: #f4aca8;
  text-align: center;
  font-family: justbubble;
}

#welcomeParagrah {
  display: inline;
  font-size: 115px;
  font-family: justbubble;
}
